
<header class="blog-header">
    <a class="blog-logo" href="{{ url('homepage') }}" style="background-image: url({{ image(theme.logo) }})"></a>
    <h1 class="blog-title">{{ app.config.get('general/sitename') }}</h1>
    <h2 class="blog-description">{{ app.config.get('general/payoff') }}</h2>
    <div class="custom-links">
      {{ menu() }}
    </div>
</header>