{% extends "_base.record.twig" %}

{% block main %}

	<main class="content" role="main">
      <article class="post">
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if record.image is empty %}{{ image(theme.bg) }}{% else %}{{ image(record.image) }}{% endif %})">
            Article Image
          </div>
          <div class="post-meta">
            <h1 class="post-title">{{ record.title }}</h1>
            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url(assets/images/author.jpg)">Blog Logo</div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ record.user.displayname }}</h4>
              on
              <time datetime="{{ record.datepublish }}">{{ record.datepublish|date("d/m/Y") }}</time>
            </div>
            <div style="text-align:center">
              <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        
        <section class="post-content">
        {% if record.video is empty %}

					{% else %}
					<section class="post-media">
						<div class="videoWrapper">
							<iframe src="{{ record.video.url }}" width="1150" height="650" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
					</section>
					{% endif %}

          <a name="topofpage"></a>
          	{{ record.body }}
        </section>
        <footer class="post-footer">
          <section class="share">
                <a class="icon-twitter" href="http://twitter.com/share?text={{ record.title|url_encode }}&amp;url={{ app.request.uri }}"
                  onclick="window.open(this.href, 'twitter-share', 'width=550,height=255');return false;">
                <i class="fa fa-twitter"></i><span class="hidden">twitter</span>
                </a>
          </section>
        </footer>
        <div class="bottom-teaser cf">
          <div class="isLeft">
            <h5 class="index-headline featured"><span>Written by</span></h5>
            <section class="author">
              <div class="author-image" style="background-image: url({{ image(theme.avatar) }})">Blog Logo</div>
              <h4>{{ record.user.displayname }}</h4>
              {% if theme.show_email %}
              <p class="bio"><a href="mailto:{{ record.user.email }}">{{ record.user.email }}</a></p>
              {% endif %}
              <hr>
              <p class="published">Published <time datetime="{{ record.datepublish }}">{{ record.datepublish|date("d/m/Y") }}</time></p>
            </section>
          </div>
          
          <div class="isRight">
            <h5 class="index-headline featured"><span>Supported by</span></h5>
            
            {% include "partials/_footer.twig" %}

          </div>
        </div>
      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image"  style="background-image: url({{ image(theme.bg) }})">
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ app.config.get('general/sitename') }}</h1>
        <h2 class="blog-description">{{ app.config.get('general/payoff') }}</h2>
        <a href="{{ url('homepage') }}" class="btn">Back to Overview</a>
      </div>
    </div>

{% endblock %}

